<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        Default title
        {% endblock %}
    </title>
</head>
<body>
        <h1 style="color:red">This is my first template in django</h1>

            <header>{% block header %}
                Default header
                {% endblock %}</header>
            <main>
                {% block main %}
                Default main
                {% endblock %}
            </main>
            <footer>
                {% block footer %}
                Default footer
                {% endblock %}
            </footer>
</body>
</html>